
html{
    scroll-behavior: smooth;
}

body{
  /* background-color: rgb(252, 240, 231); */
  background-image: url(../images/Mars_landscape.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 18px;
  margin: 0;
  padding: 0;
}

img {
  width: 80%;
  height: auto;
  border: 5px solid  rgb(54, 16, 1);
  margin: 15px;
  border-radius: 10px;
}



h1{
  font-size: 50px;
  line-height: 1;
  padding: 25px 0;
  color: rgb(54, 16, 1);
  text-align: center;
}

h2{
  font-size: 32px;
  line-height: 1.5;
  padding-bottom: 5px;
  color: whitesmoke;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 75%;
  background-color: rgba(54, 16, 1, 0.1);
}

nav li{
  display:inline-flex;
  padding-right:20px;
  padding-bottom: 10px;

}


nav{
  background-color: rgba(54, 16, 1, 0.1);
  padding: 10px 5px; 
  text-align: center;
}

footer{
  background-color: rgba(153, 86, 60, 0.1);
  color: whitesmoke;
  padding-top: 15px;
  text-align: center;
  position: relative;
  bottom: 0;
  align-items: center;
}

footer p{
  color: whitesmoke;
}

header p{
  color: whitesmoke;
  font-size: 32px;
  text-align: center;
}
/*END STARTER CSS - DO NO CHANGE*/


/*Req 1*/
nav a{
  font-size: 105%;
  color: whitesmoke;
  font-weight: bold;
  text-decoration: none;
}

/* form {
  border: 3px solid #f1f1f1;
} */

.container1{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 10%;
  width: 80%;
}

legend{ 
  font-size: 125%;
  font-style:italic;
  text-transform: uppercase;
  text-align: center;
}

label{
  margin-left: 10px;
  margin-right:10px;
  margin-top: 3px;
  font-size: 25px;
  color: whitesmoke;
  background-color: rgba(255, 255, 255, .2);
  text-align: center;
}
input {
  padding: 12px 20px;
  margin-top: 10px;
  margin-bottom: 10pxS;
  margin-left: 10px;
  width: 100%;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  color: whitesmoke;
  background-color: rgba(54, 16, 1, .3);
}

textarea{
  margin: 10px 8px;
  padding-top: 5px;
  min-height: 60px;
  background-color: rgba(54, 16, 1, .3);
  color: whitesmoke;
  width: 100%;
}


input[type=checkbox]{

}
#submission{
  margin-right: 0px;
}

input[type=submit] {
  background-color: rgba(54, 16, 1, 1);
  color: white;
  cursor: pointer;
}

input[type=submit]:hover {
  opacity: 0.8;
}

a:hover{
  text-decoration: underline;
}

/*Req 3a*/
.skip a{
  background: whitesmoke;
  color: color: rgb(54, 16, 1);
  left: 0;      
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;
  position: absolute;
  top: -50px;
  
}
.skip a:focus{
  top: 10px;

}
li{
  text-align:center;
  
}
/*Req 4*/
*:focus{
  /* border-right: 3px dotted rgb(54, 16, 1); */
  border-bottom: 5px solid rgb(54, 16, 1);

}

/*Req 5*/
.container{
  display: grid;
  grid-template-columns: 1fr 3fr 3fr 1fr;
  grid-template-rows: auto auto auto auto auto auto auto auto;
  grid-row-gap: 10px;
  justify-content: center;
  
}

.sensors{
  display: grid;
  grid-template-columns: 1fr;
  grid-row: auto auto auto auto auto auto;
  grid-row-gap: 10px;
  justify-content: center;
  align-items: center;
}

#sensor, #sensor2, #sensor3, #sensor4, #sensor5, #sensor6{
  grid-column: 1 / span 1;
}

#sensor1{
  grid-row: 1 / span 1;
}

#sensor2{
  grid-row: 2 / span 1;
}

#sensor3{
  grid-row: 3 / span 1;
}

#sensor4{
  grid-row: 4 / span 1;
}

#sensor5{
  grid-row: 5 / span 1;
}

#sensor6{
  grid-row: 6 / span 1;
}

header{
  
  background-attachment: fixed; /* Parallax effect */     
  background-position: center;  /* Parallax effect */
  background-repeat: no-repeat; /* Parallax effect */
  background-size: cover;       /* Parallax effect */
  height: 20%;                /* Parallax effect */
  margin-bottom: 25px;
}

.intro-text, .liftoff-text, .journey-text, .landing-text, .about-text{
  grid-column: 2 / span 2;
  text-align: center;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(3px) contrast(.7);
  background-color: rgba(54, 16, 1, 0.2);
  border-radius: 5px;
}
.sensor-text{
  grid-column: 1/ -1;
}


/*Req 8a, 8b, and 8c*/
.intro-image, .liftoff-image, .journey-image, .landing-image, .about-image, .about-images, .sensor-images{
  grid-column: 1/-1;
  text-align: center;
}

.intro-text{
  grid-row: 1 / span 1;
}
.intro-image{
  grid-row: 2 / span 1;
}

.lifoff-text{
  grid-row: 3 / span 1;
}

.liftoff-image{
  grid-row: 4 / span 1;
}

/*Req 7b & 8d*/
.journey-text{
  grid-row: 5 / span 1;
}

.journey-image{
  grid-row: 6 / span 1;
}

/*Req 7b & 8d*/
.landing-text{
  grid-row: 7 / span 1;
}

.landing-image{
  grid-row: 8 / span 1;
  padding-bottom: 10px;
}

.text{
  background-color: whitesmoke;
  border: 10px solid black;
  width: 85%;
  align-self: center;
}

.about-text{
  grid-row: 1 / span 1;
}

.about-image{
  grid-row: 2 / span 1;
  padding-bottom: -20px;
}

.about-images{
  grid-row: 2 / span 1;
  padding-bottom: -20px;
}

.sensor-images{
  display: flex;
  margin: 10px;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  height: auto
}

 .current{
  font-size: 125%;
  font-weight: 900;
  text-decoration: underline;
}

.sensor-text{
  grid-row: 3 / span 1;
  padding-bottom: 10px;
}


.sensor-list{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: none;
  text-align: left;
  padding: none;
  color: whitesmoke;
  justify-content: center;
  background-color: rgba(54, 16, 1, 0.2);
}

.sensor-list li{
  margin-left: 30px;
}

/*About page css*/



.img1{
  width: 80%;
  height: auto;
  border: 5px solid  rgb(54, 16, 1);
  border-radius: 10px;
}

.img2{
  max-width: 60%;
  height: auto;
  border-radius: 10px;
  margin: 3%;
  border: none;
  font-weight: 400;
}

.img3{
  width: 300px;
  height: auto;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  display: block;
  border: none;
  font-weight: 400;
}

p{
  font-size: 22px;
  color: whitesmoke;

}

.main_img:hover{
  width: 85%;
  height: auto;
  filter: brightness(1.1);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

/* css specific for people*/

.diana{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: centers;

}

/* .mission-team, .celebration{
  display: flex;
  justify-content: center;
} */

.diana img{
  max-width: 100%;
  border: 3px solid black;
}

.people-body{
  margin-top: 10px;
  background-image: url(../images/nasa_logo2.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(11, 61, 145);
  background-size: 15%;
  background-repeat: repeat;
}

.people-nav{
  backdrop-filter: blur(3px) contrast(.7);
  background-color: rgba(255, 255, 255, .7);
}

.people-nav a{
  color: black;
  
}

.people-footer{
  backdrop-filter: blur(3px) contrast(.7);
  background-color: rgba(255, 255, 255, 0.4);
}
.people-footer p{
  color: black;
}

/* .mission-team, .celebration{
  display: block;
  margin: 10px;
  margin-left: auto;
  margin-right: auto;
} */

#people_h1{
  backdrop-filter: blur(3px) contrast(.7);
  background-color: rgba(11, 61, 145, .9);
  border: 5px solid black;
  margin: 20px;
  color: whitesmoke;
  border-radius: 10px;

}

.mission-team img, .celebration img{
  display: block;
  margin: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 85%;
  height: auto;
  border: 3.5px solid black;
  border-radius: 5px;
}


.people-text1{
  text-align: center;
  border: 5px solid black;
  margin: 20px;
  border-radius: 10px;
}

.people-text1 p, .diana p{
  color: whitesmoke;
  text-align: center;
  padding: 10px;
}


.diana h2, .people-text1 h2{
  color: whitesmoke;

}
.people-text1{
  color: black;
  backdrop-filter: blur(3px) contrast(.7);
  background-color: rgba(11, 61, 145, .95);
  border-radius: 10px;
}

.diana{
  backdrop-filter: blur(3px) contrast(.7);
  background-color: rgba(11, 61, 145, .95);
  border: 5px solid black;
  margin: 20px;
  border-radius: 10px;
}

h3{
  font-size: 28px;
  line-height: 1.5;
  padding-bottom: 5px;
  color: whitesmoke;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 75%;
  background-color: rgba(54, 16, 1, 0.1);
  color: whitesmoke;
  padding-bottom: 10px;
  text-decoration: none;
}

.people-text1 h3 a{
  color: whitesmoke;
  text-decoration: none;
}

h3:hover{
  text-decoration: underline;
}



.diana{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.diana img{
  margin: 1%;
  width: 92%;
  height: auto;
}

/*Explore in XR*/

#XR_img{
  display: block;
  width:400px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  border: none;
  border-radius: 3%;
}

#XR_img1{
  display: block;
  width: auto;
  height: 450px;
  margin-left: auto;
  margin-right: auto;
  border: none;
  border-radius: 3%;
}

#XR_a{
  color: rgb(54, 16, 1);
  font-size: 48px;
  text-decoration: none;
}

.ar, .vr{
 display: flex;
 flex-direction: column;
 justify-content: center;
 flex-wrap: nowrap;
 align-items: center;

}

.ar a, .vr a{
  font-size: 30px;
  color: whitesmoke;
}

.XR_h3{
  text-align: center;
}


.XR_p{

  margin-top: 15px;
  margin-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
  width: 85%;
  backdrop-filter: blur(7px) contrast(.7);
  background-color: rgba(54, 16, 1, 0.308);
  border-radius: 5px;
}


/*Animation changing the background*/

#homepage{
  animation-name: animateSectionBackground;
  animation-duration: 3s;
}

#XR_a{
  animation-name: fadeIn;
  animation-duration: 7s infinite;
}

@keyframes fadeIn{
  from { opacity: 0;}
  to { opacity: 1;}
}

@keyframes animateSectionBackground {
  from { opacity: 0;}
  to { opacity: 1;}
}
/* 
@keyframes animateSectionBackground {
  00%, 24% { background-image: url(/images/rocket-launch.jpg); }
  25%, 49% { background-image: url(/images/rocket-leaving-earth.jpg); }
  50%, 74% { background-image: url(/images/arriving-at-mars.jpg); }
  75%, 99% { background-image: url(/images/Mars_landscape.jpg); }
} */

@media (min-width: 768px) and (max-width: 1024px){
 
  /* For the form */
 
  form{
    width: 80%;
    margin: 0 auto;
  }

  input{
    width:80%;
  }
  
  label{
    font-size: 32px;
  }

  textarea{
    width:80%;
    height: 25vh;
 }

  .ar, .vr{
    display: flex;
    flex-direction: row;
    flex-direction: wrap;
    justify-content: space-evenly;
    margin: 10px;
  }
  
  .people-nav a{
    background-color: rgba(255, 255, 255, .7);
  }
  
  #XR_img{
    margin-right: 15px;
    width: auto;
    height: 250px;
  }

  .ar{
    margin-right: 30px;
  }

  #XR_img1{
    margin-right: 15px;
    width: auto;
    height: 350px;
    margin-left: 25px;
  }

  .XR_a:hover{
    text-decoration: none;
    font-size: 60px;
  }

  h3:hover{
    text-decoration: none;
  }

  .XR_h3{
    text-decoration: underline solid rgb(54, 16, 1);
  }

  .sensor-list p{
    width: auto;
  }

  .container{
    display: grid;
    grid-template-columns: 1fr 2fr 3fr 2fr 1fr;
    grid-template-rows: auto auto auto auto auto auto auto auto;
    grid-row-gap: 10px;
    justify-content: center;
  }

  .intro-image, .liftoff-image, .journey-image, .landing-image{
    grid-column: 1/ span 3;
    text-align: center;
  }

  .intro-image, .journey-image{
    grid-column: 1/ span 3;
    text-align: center;
  }

   .liftoff-image, .landing-image{
    grid-column: 3/ span 3;
    text-align: center;
  }

  .diana{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .diana img{
    width: 45%;
  }

  nav li{
    display: flex;
    box-direction: column;
    justify-content: right;
  }

  nav{
    margin-left: 80%;
    padding: 5px;
    background: none;
  }

  nav a{
    font-size: 32px;
  }

  .people-nav{
    background: none;
    backdrop-filter: blur(7px) contrast(.9);
    background-color: rgba(11, 61, 145, .02);
    border-radius: 5px;

  }

 

  nav a{
    background-color: rgba(255, 255, 255, .2);
    font-size: 32px;
    color: whitesmoke;
  }
  
  a:visited {
    color: whitesmoke;
  }

  .people-nav a{
    color: black;
  }

  .current{
    font-size:42px;
    font-weight: 900;
    text-decoration: underline;
  }

  .intro-text, .liftoff-text, .journey-text, .landing-text, .about-text, .sensor-text{
  grid-column: 2 / span 3;
}

.img3{
  width: 500px;
}

.container1{
  margin-left: 2%;
  width: 100%;
}
  label{
    margin-left: 0px;
  }

  input{
    margin-left: 0px;
    width: 90%;
  }

  textarea{
    margin-left: 0px;
    width: 90%;
  }

  .sensors{
    display: grid;
    grid-template-columns: 1fr 3fr 3fr 1fr;
    grid-template-rows: auto auto auto;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    justify-content: center;
    align-items: center;

  }
  
  #sensor1, #sensor3, #sensor5{
    grid-column: 2 / span 1;
    width: 300px;
  }

 #sensor2, #sensor4, #sensor6{
    grid-column: 3 / span 1;
    width: 300px;
  }
  
  #sensor1{
    grid-row: 1 / span 1;
  }
  
  #sensor2{
    grid-row: 1 / span 1;
  }
  
  #sensor3{
    grid-row: 2 / span 1;
  }
  
  #sensor4{
    grid-row: 2 / span 1;
  }
  
  #sensor5{
    grid-row: 3 / span 1;
  }
  
  #sensor6{
    grid-row: 3 / span 1;
  }

}


@media screen and (min-width: 1025px) {
    
  .container1{
    align-items: flex-start;
    margin-left: 10%;
  }

  .sensor-list li{
    font-size: 42px;
  }

  img{
     width: 30%;
     border-style: solid;
     border-color:5px solid rgb(54, 16, 1);
  }

  body{
    background-image: url(../images/Mars_landscape.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 18px;
    margin: 0;
    padding: 0;
  }
    
  nav li{
    display: inline;
  
  }

  nav{
    margin-left: 3%;
    text-align: left;
    padding: 5px;
    background: none;
  }


  .people-nav{
    background: none;
    backdrop-filter: blur(7px) contrast(.9);
    background-color: rgba(11, 61, 145, .02);
    border-radius: 5px;

  }

 

  nav a{
    background-color: rgba(255, 255, 255, .2);
    font-size: 42px;
    color: whitesmoke;
  }
  
  a:visited {
    color: whitesmoke;
  }

  .people-nav a{
    color: black;
  }

  .current{
    font-size: 54px;
    font-weight: 900;
    text-decoration: underline;
  }



  .container{
    grid-template-columns: 1fr 3fr 3fr 3fr 1fr;
    grid-template-rows: auto auto auto auto auto auto auto auto;
  }

  
  .intro-text, .liftoff-text, .journey-text, .landing-text{
    grid-column: 2 / span 3;
  }


  footer{
    text-align: right;
  
  }

  .intro-image{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .journey-image{
    display: flex;

  }

  .diana img{
    width: 45%;
  }

  .diana{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .celebration img, .mission-team img{
    width: 60%;
    
  }

  .main_img:hover{
    width:31%;
  }

  .sensor-list{
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
  }

  .journey-image{
    align-items: center;
    justify-content: space-evenly;
  }

  .about-image{
    align-items: center;
    justify-content: space-evenly;
  }

  .landing-image{
    align-items: center;
    justify-content: space-evenly;
  }

  .about-text{
    grid-column: 2 / span 3;
  }

  .img1{
    width: 40%;
  }

  .about-images{
    display: flex;
    justify-content: space-evenly;
  }
  
  .img3{
    width: 700px;
  
  }

  img{
    width: 35S%;
  }

  .sensor-text{
    grid-column: 2 / span 3;
  }

  .XR_p{
    font-size: 42px;
  }

  .container1{
    margin-left: 5%;
  }

  .sensors{
    display: grid;
    grid-template-columns: 1fr 3fr 3fr 3fr 1fr;
    grid-template-rows: auto auto;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    justify-content: center;
    align-items: center;

  }
  
  #sensor1, #sensor4{
    grid-column: 2 / span 1;
    width: 300px;
  }
  #sensor2, #sensor5{
    grid-column: 3 / span 1;
    width: 300px;
  }


 #sensor3, #sensor6{
    grid-column: 4 / span 1;
    width: 300px;
  }
  
  #sensor1, #sensor2, #sensor3{
    grid-row: 1 / span 1;
  }

  #sensor4, #sensor5, #sensor6 {
    grid-row: 2 / span 1;
  }

  h1 {
    font-size: 56px;
  }

  h2 {
    font-size: 46px;
  }

  h3{
    font-size: 43px;
  }

  p {
    font-size: 40px;
  }

}


@media screen and (prefers-reduced-motion: reduce){
  html{
      scroll-behavior: auto; 
  }

  .skip a{
    -webkit-transition: none; 
    transition: none;        
   }

   #homepage{
     animation: none;
   }

  /*Turn off parallax*/
  header{
    background-attachment: fixed;
  }
}
