
html{
    scroll-behavior: smooth;
}

body{
  background-color: rgb(252, 240, 231);
  /* background-image: url(../images/Mars_landscape.jpg); */
  font-size: 18px;
  margin: 0;
  padding: 0;
}

img {
  width: 85%;
  height: auto;
  border: 5px solid  rgb(54, 16, 1);
  
}

h1{
  font-size: 50px;
  line-height: 1;
  padding: 25px 0;
  text-align: center;
}

h2{
  font-size: 32px;
  line-height: 1.5;
  padding-bottom: 5px;
  color: rgb(54, 16, 1);
}

nav li{
  display:inline;
  padding-right:20px;

}


nav{
  background-color: rgb(54, 16, 1);
  padding: 25px 0; 
  text-align: center;
}

footer{
  background-color: rgb(54, 16, 1);
  color: white;
  padding-top: 15px;
  text-align: center;
  position: relative;
  bottom: 0;
  align-items: center;
}

footer p{
  color: whitesmoke;
}

header p{
  color: rgb(80, 27, 5);
  font-size: 32px;
  text-align: center;
}
/*END STARTER CSS - DO NO CHANGE*/


/*Req 1*/
nav a{
  color: whitesmoke;
  font-weight: bold;
  text-decoration: none;
}             

a:hover{
  text-decoration: underline;
}

/*Req 3a*/
.skip a{
  background: whitesmoke;
  color: color: rgb(54, 16, 1);
  left: 0;      
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;
  position: absolute;
  top: -50px;
  
}
.skip a:focus{
  top: 10px;

}

/*Req 4*/
*:focus{
  /* border-right: 3px dotted rgb(54, 16, 1); */
  border-bottom: 5px solid rgb(54, 16, 1);

}

/*Req 5*/
.container{
  display: grid;
  grid-template-columns: 1fr 3fr 3fr 1fr;
  grid-template-rows: auto auto auto auto auto auto auto auto;
  grid-row-gap: 10px;
  justify-content: center;
  
}

header{
  background-attachment: fixed; /* Parallax effect */     
  background-position: center;  /* Parallax effect */
  background-repeat: no-repeat; /* Parallax effect */
  background-size: cover;       /* Parallax effect */
      ;
  height: 20%;                /* Parallax effect */
  margin-bottom: 25px;
}

.intro-text, .liftoff-text, .journey-text, .landing-text, .about-text, .sensor-text{
  grid-column: 2 / span 2;
  text-align: center;
  align-items: center;
}

/*Req 8a, 8b, and 8c*/
.intro-image, .liftoff-image, .journey-image, .landing-image, .about-image, .sensor-images{
  grid-column: 1/-1;
  /* max-height: 650px; */
  overflow: hidden;
  text-align: center;
}

.intro-text{
  grid-row: 1 / span 1;
}
.intro-image{
  grid-row: 2 / span 1;
}

.lifoff-text{
  grid-row: 3 / span 1;
}

.liftoff-image{
  grid-row: 4 / span 1;
}

/*Req 7b & 8d*/
.journey-text{
  grid-row: 5 / span 1;
}

.journey-image{
  grid-row: 6 / span 1;
}

/*Req 7b & 8d*/
.landing-text{
  grid-row: 7 / span 1;
}

.landing-image{
  grid-row: 8 / span 1;
  padding-bottom: 10px;
}

.text{
  background-color: whitesmoke;
  border: 10px solid black;
  width: 85%;
  align-self: center;
}

.about-text{
  grid-row: 1 / span 1;
  padding-top: 5%;
}

.about-image{
  grid-row: 2 / span 1;
  padding-bottom: -20px;
}

.sensor-images{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.sensor-text{
  grid-row: 3 / span 1;
  padding-bottom: 10px;
}

.sensor-list{
  display: inline;
  background-color: none;
  text-align: left;
  width: 80%;
  padding: none;
}


.img1{
  width: 95%;
  height: auto;
  border: 5px solid  rgb(54, 16, 1);
}

.img2{
  width: 40%;
  height: auto;
  border: 5px solid  rgb(54, 16, 1);
  margin: 3%;
}

p{
  font-size: 22px;
  color: rgb(80, 27, 5);
}

@media all and (min-width: 880px){
    
  img{
     width: 70%;
     border-style: solid;
     border-color: whitesmoke;
  }

  body{
    background-image: url(../images/Mars_landscape.jpg);
    font-size: 18px;
    margin: 0;
    padding: 0;
  }
    
  nav{
    padding: 30px 0px;
    text-align: center;
  }

  nav a{
    color: whitesmoke;
  }

  body{
    background-color: sienna;
    border: 3px solid black
  }


  .container{
    grid-template-columns: 50px auto 500px auto 50px;
    grid-template-rows: 400px 425px 425px 400px;
  }

  
  .intro-text, .liftoff-text, .journey-text, .landing-text{
    grid-column: 3 / span 2;
  }

  
  .intro-image, .liftoff-image, .journey-image, .landing-image{
    grid-column: 2 / span 2;
  }

  footer{
    text-align: right;
  
  }
}


@media screen and (prefers-reduced-motion: reduce){
  html{
      scroll-behavior: auto; 
  }

  .skip a{
    -webkit-transition: none; 
    transition: none;        
   }

  /*Turn off parallax*/
  header{
    background-attachment: initial;
  }
}
