
html{
    scroll-behavior: smooth;
}

body{
  background-color: whitesmoke;
  /* background-image: url(../images/Mars_landscape.jpg); */
  font-size: 18px;
  margin: 0;
  padding: 0;
}

img {
  width: 350px;
  height: auto;
}

h1{
  font-size: 50px;
  line-height: 1;
  padding: 50px 0;
  text-align: center;
}

h2{
  font-size: 32px;
  line-height: 1.5;
}

nav li{
  display:inline;
  padding-right:20px;

}


nav{
  background-color: rgb(54, 16, 1);
  padding: 25px 0; 
  text-align: left;
}

footer{
  background-color: rgb(54, 16, 1);
  color: white;
  padding-top: 30px;
  text-align: center;
  position: relative;
  bottom: 0;
}

header p{
  color: rgb(80, 27, 5);
  font-size: 24px;
  padding: 0 100px;
  text-align: center;
}
/*END STARTER CSS - DO NO CHANGE*/


/*Req 1*/
nav a{
  color: whitesmoke;
  font-weight: bold;
  text-decoration: none;

}

a:hover{
  text-decoration: underline;
}

/*Req 3a*/
.skip a{
  background: white;
  left: 0;      
  padding: 7px;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;
  position: absolute;
  top: -50px;
  
}
.skip a:focus{
  top: 10px;
}

/*Req 4*/
*:focus{
  border-top: 2px dashed black;
  border-bottom: 2px dashed black;

}

/*Req 5*/
.container{
  display: grid;
  grid-template-columns: 1fr 3fr 3fr 1fr;
  grid-template-rows: auto auto auto auto auto auto auto auto;
  grid-row-gap: 20px;
  
}

header{
  background-attachment: fixed; /* Parallax effect */     
  background-position: center;  /* Parallax effect */
  background-repeat: no-repeat; /* Parallax effect */
  background-size: cover;       /* Parallax effect */
  color: rgb(54, 16, 1);
  height: 200px;                /* Parallax effect */
    
  margin-bottom: 25px;
  
    
  /*Req 6b*/
  /*Set background-image to header.jpg */
  /*background-image: url(../images/mars_b9ds.jpg);*/
 

}
/*Req 7a*/
.intro-text, .liftoff-text, .journey-text, .landing-text{
  grid-column: 2 / span 2;

}

/*Req 8a, 8b, and 8c*/
.intro-image, .liftoff-image, .journey-image, .landing-image{
  grid-column: 1/-1;
  max-height: 650px;
  overflow: hidden;

}

.intro-image, .intro-text{
  grid-row: 1 / span 1;
}

.lifoff-text, .liftoff-image{
  grid-row: 2 / span 1;
  
}

/*Req 7b & 8d*/
.journey-text, .journey-image{
  grid-row: 3 / span 1;
 

}

/*Req 7b & 8d*/
.landing-text, .landing-image{
 
  grid-row: 4 / span 1;

}

/*Req 9*/
.text{
  background-color: whitesmoke;
  border: 10px solid black;
  padding: 30px;
  align-self: center;

}


@media all and (min-width: 880px){
    
  img{
     min-width: 600px;
  }

  body{
    background-image: url(../images/Mars_landscape.jpg);
    font-size: 18px;
    margin: 0;
    padding: 0;
  }
    
  /*Req 10*/
  nav{
    padding: 30px 0px;
    text-align: center;
  }

  nav a{
    color: whitesmoke;
  }

  /*Req 11*/
  .container{
    grid-template-columns: 50px auto 500px auto 50px;
    grid-template-rows: 400px 425px 425px 400px;
  }

  /*Req 12*/
  .intro-text, .liftoff-text, .journey-text, .landing-text{
    grid-column: 3 / span 2;
  }

  /*Req 13*/
  .intro-image, .liftoff-image, .journey-image, .landing-image{
    grid-column: 2 / span 2;
  }
}



/*You do not need to modify any code below this line.
It is included for accessibility to turn off animations
and movement for people who have modified their 
preferences to reduce motion.*/

@media screen and (prefers-reduced-motion: reduce){
  html{
      scroll-behavior: auto; /* Removes scroll animation */
  }

  .skip a{
    -webkit-transition: none; /* sets to default setting */
    transition: none;        /* sets to default setting */
   }

  /*Turn off parallax*/
  header{
    background-attachment: initial;
  }
}
