
html{
    scroll-behavior: smooth;
}

body{
  /* background-color: rgb(252, 240, 231); */
  background-image: url(../images/Mars_landscape.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 18px;
  margin: 0;
  padding: 0;
}

img {
  width: 80%;
  height: auto;
  border: 5px solid  rgb(54, 16, 1);
  margin: 15px;
  border-radius: 10px;
}



h1{
  font-size: 50px;
  line-height: 1;
  padding: 25px 0;
  color: rgb(54, 16, 1);
  text-align: center;
}

h2{
  font-size: 32px;
  line-height: 1.5;
  padding-bottom: 5px;
  color: white;
  text-align: center;
}

nav li{
  display:inline;
  padding-right:20px;

}


nav{
  background-color: rgb(54, 16, 1);
  padding: 25px 0; 
  text-align: center;
}

footer{
  background-color: rgb(54, 16, 1);
  color: white;
  padding-top: 15px;
  text-align: center;
  position: relative;
  bottom: 0;
  align-items: center;
}

footer p{
  color: whitesmoke;
}

header p{
  color: white;
  font-size: 32px;
  text-align: center;
}
/*END STARTER CSS - DO NO CHANGE*/


/*Req 1*/
nav a{
  color: whitesmoke;
  font-weight: bold;
  text-decoration: none;
}             

a:hover{
  text-decoration: underline;
}

/*Req 3a*/
.skip a{
  background: whitesmoke;
  color: color: rgb(54, 16, 1);
  left: 0;      
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;
  position: absolute;
  top: -50px;
  
}
.skip a:focus{
  top: 10px;

}
li{
  text-align:center;
  
}
/*Req 4*/
*:focus{
  /* border-right: 3px dotted rgb(54, 16, 1); */
  border-bottom: 5px solid rgb(54, 16, 1);

}

/*Req 5*/
.container{
  display: grid;
  grid-template-columns: 1fr 3fr 3fr 1fr;
  grid-template-rows: auto auto auto auto auto auto auto auto;
  grid-row-gap: 10px;
  justify-content: center;
  
}

.container{
  display: grid;
  grid-template-columns: 1fr 3fr 3fr 3fr 1;
  grid-template-rows: auto auto auto auto auto auto auto auto;
  grid-row-gap: 10px;
  justify-content: center;
}

header{
  background-attachment: fixed; /* Parallax effect */     
  background-position: center;  /* Parallax effect */
  background-repeat: no-repeat; /* Parallax effect */
  background-size: cover;       /* Parallax effect */
      ;
  height: 20%;                /* Parallax effect */
  margin-bottom: 25px;
}

.intro-text, .liftoff-text, .journey-text, .landing-text, .about-text, .sensor-text{
  grid-column: 2 / span 2;
  text-align: center;
  align-items: center;
  backdrop-filter: blur(3px) contrast(.7);
  background-color: rgba(54, 16, 1, 0.308);
  border-radius: 5px;
}

/*Req 8a, 8b, and 8c*/
.intro-image, .liftoff-image, .journey-image, .landing-image, .about-image, .sensor-images{
  grid-column: 1/-1;
  text-align: center;
}

.intro-text{
  grid-row: 1 / span 1;
}
.intro-image{
  grid-row: 2 / span 1;
}

.lifoff-text{
  grid-row: 3 / span 1;
}

.liftoff-image{
  grid-row: 4 / span 1;
}

/*Req 7b & 8d*/
.journey-text{
  grid-row: 5 / span 1;
}

.journey-image{
  grid-row: 6 / span 1;
}

/*Req 7b & 8d*/
.landing-text{
  grid-row: 7 / span 1;
}

.landing-image{
  grid-row: 8 / span 1;
  padding-bottom: 10px;
}

.text{
  background-color: white;
  border: 10px solid black;
  width: 85%;
  align-self: center;
}

.about-text{
  grid-row: 1 / span 1;
}

.about-image{
  grid-row: 2 / span 1;
  padding-bottom: -20px;
}

.sensor-images{
  display: flex;
  margin: 10px;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  width: 85%;
  height: auto
}

 .current{
  font-size: 115%;
  font-weight: 900;
  text-decoration: underline;
}

.sensor-text{
  grid-row: 3 / span 1;
  padding-bottom: 10px;
}


.sensor-list{
  display: inline;
  background-color: none;
  text-align: left;
  width: 65%;
  padding: none;
  color: white;
}

.sensor-list li{
  margin-left: 30px;
}

/*About page css*/



.img1{
  width: 80%;
  height: auto;
  border: 5px solid  rgb(54, 16, 1);
  border-radius: 10px;
}

.img2{
  max-width: 60%;
  height: auto;
  border-radius: 10px;
  margin: 3%;
  border: none;
  font-weight: 400;
}

.img3{
  width: auto;
  height: 300px;
  border-radius: 10px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  display: block;
  border: none;
  font-weight: 400;
}

p{
  font-size: 22px;
  color: rgb(255, 255, 255);

}

.main_img:hover{
  width: 85%;
  height: auto;
  filter: brightness(1.1);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

/* css specific for people*/

.diana{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: centers;

}

/* .mission-team, .celebration{
  display: flex;
  justify-content: center;
} */

.diana img{
  max-width: 100%;
  border: 3px solid black;
}

.people-body{
  background-image: url(../images/nasa_logo2.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(11, 61, 145);
  background-size: 15%;
  background-repeat: repeat;
}

.people-nav{
  background-color: rgb(11, 61, 145);
  color: white;
  z-index: -1;
}
.people-footer{
  background-color: rgb(11, 61, 145);
}

/* .mission-team, .celebration{
  display: block;
  margin: 10px;
  margin-left: auto;
  margin-right: auto;
} */

#people_h1{
  background-color: rgb(11, 61, 145);
  border: 5px solid black;
  margin: 20px;
  color: white;
  border-radius: 10px;

}

.mission-team img, .celebration img{
  display: block;
  margin: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 85%;
  height: auto;
  border: 3.5px solid black;
  border-radius: 5px;
}


.people-text1{
  text-align: center;
  border: 5px solid black;
  margin: 20px;
  border-radius: 10px;
}

.people-text1 p, .diana p{
  color: white;
  text-align: center;
  padding: 10px;
}


.diana h2, .people-text1 h2{
  color: white;

}
.people-text1{
  color: black;
  background-color: rgb(11, 61, 145);
  border-radius: 10px;
}

.diana{
  background-color: rgb(11, 61, 145);
  border: 5px solid black;
  margin: 20px;
  border-radius: 10px;
}

h3{
  color: white;
  padding-bottom: 10px;
  text-decoration: none;
}

.people-text1 h3 a{
  color: white;
  text-decoration: none;
}

h3:hover{
  text-decoration: underline;
}



.diana{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.diana img{
  margin: 1%;
  width: 92%;
  height: auto;
}

/*Explore in XR*/

#XR_img{
  display: block;
  width:400px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  border: none;
  border-radius: 3%;
}

#XR_img1{
  display: block;
  width: auto;
  height: 450px;
  margin-left: auto;
  margin-right: auto;
  border: none;
  border-radius: 3%;
}

#XR_a{
  color: rgb(54, 16, 1);
  font-size: 48px;
  text-decoration: none;
}

.ar, .vr{
 display: flex;
 flex-direction: column;
 justify-content: center;
 flex-wrap: nowrap;
 align-items: center;

}

.ar a, .vr a{
  font-size: 30px;
  color: white;
}

.XR_h3{
  text-align: center;
}


.XR_p{

  margin-top: 15px;
  margin-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
  width: 85%;
  backdrop-filter: blur(7px) contrast(.7);
  background-color: rgba(54, 16, 1, 0.308);
  border-radius: 5px;
}


/*Animation changing the background*/

#homepage{
  animation-name: animateSectionBackground;
  animation-duration: 3s;
}

#XR_a{
  animation-name: fadeIn;
  animation-duration: 3s infinite;
}

@keyframes fadeIn{
  from { opacity: 0;}
  to { opacity: 1;}
}

@keyframes animateSectionBackground {
  from { opacity: 0;}
  to { opacity: 1;}
}
/* 
@keyframes animateSectionBackground {
  00%, 24% { background-image: url(/images/rocket-launch.jpg); }
  25%, 49% { background-image: url(/images/rocket-leaving-earth.jpg); }
  50%, 74% { background-image: url(/images/arriving-at-mars.jpg); }
  75%, 99% { background-image: url(/images/Mars_landscape.jpg); }
} */

@media (min-width: 768px) and (max-width: 1024px){

  .ar, .vr{
    display: flex;
    flex-direction: row;
    flex-direction: wrap;
    justify-content: space-evenly;
    margin: 10px;
  }

  #XR_img{
    margin-right: 15px;
    width: auto;
    height: 250px;
  }

  .ar{
    margin-right: 30px;
  }

  #XR_img1{
    margin-right: 15px;
    width: 250px;
    height: auto;
    margin-left: 25px;
  }

  .XR_a:hover{
    text-decoration: none;
    font-size: 60px;
  }

  h3:hover{
    text-decoration: none;
  }

  .XR_h3{
    text-decoration: underline solid rgb(54, 16, 1);
  }

  .sensor-list p{
    width: auto;
  }

  .container{
    display: grid;
    grid-template-columns: 1fr 3fr 3fr 3fr 1;
    grid-template-rows: auto auto auto auto auto auto auto auto;
    grid-row-gap: 10px;
    justify-content: center;
  }

  .intro-image, .liftoff-image, .journey-image, .landing-image{
    grid-column: 1/ span 3;
    text-align: center;
  }

  .intro-image, .journey-image{
    grid-column: 1/ span 3;
    text-align: center;
  }

   .liftoff-image, .landing-image{
    grid-column: 2/ span 3;
    text-align: center;
  }

  .diana{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .diana img{
    width: 45%;
  }

}

@media all and (min-width: 1025px){
    
  img{
     width: 60%;
     border-style: solid;
     border-color: whitesmoke;
  }

  body{
    background-image: url(../images/Mars_landscape.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 18px;
    margin: 0;
    padding: 0;
  }
    
  nav{
    padding: 30px 0px;
    text-align: center;
  }

  nav a{
    color: whitesmoke;
  }


  .container{
    grid-template-columns: 50px auto 500px auto 50px;
    grid-template-rows: 400px 425px 425px 400px;
  }

  
  .intro-text, .liftoff-text, .journey-text, .landing-text{
    grid-column: 3 / span 2;
  }

  
  .intro-image, .liftoff-image, .journey-image, .landing-image{
    grid-column: 2 / span 2;
  }

  footer{
    text-align: right;
  
  }


}


@media screen and (prefers-reduced-motion: reduce){
  html{
      scroll-behavior: auto; 
  }

  .skip a{
    -webkit-transition: none; 
    transition: none;        
   }

   #homepage{
     animation: none;
   }

  /*Turn off parallax*/
  header{
    background-attachment: initial;
  }
}
